// color_scheme_one
$cs1_primary: #2d4059;
$cs1_secondary: #ea5455;
$cs1_third: #decdc3;
$cs1_fourth: #e5e5e5;

//color_scheme_two
$cs2_primary: #1a2639;
$cs2_secondary: #3e4a61;
$cs2_third: #c24d2c;
$cs2_fourth: #d9dad7;

//color_scheme_three
// $cs3_primary: ;
// $cs3_secondary: ;
// $cs3_third: ;
// $cs3_fourth: ;
