
.loginForm{
    min-height: 100vh;
    /* padding: 0 0.5rem; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e5e5;
}

.form{
    background-image: url("/mosaicbig.svg");
    border: 2px;
    border-color: #E0E0E0;
    border-radius: 5%;
    padding:8%;
    border-style: ridge;
    background-color: #E0E0E0;
}

.ul{
    list-style: none;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
}

.ul li{
    margin:0.6em;
}

.ul input{
    height: 6vh;
    max-height:20vh;
    min-height: 5vh;
    /* border-color: #ea5455; */
    width:40vh;
    border-radius:5px;
    border-width: 1px;
    box-sizing: border-box;
    transition: 0.4s;
}
.ul input::after{
    box-shadow: #ea5455;
}
